/////////////////////////////////

Dropbox

https://www.dropbox.com/download?dl=packages/ubuntu/dropbox_2015.10.28_amd64.deb

/////////////////////////////////

Git

:~$ sudo apt install git

/////////////////////////////////

Guake Terminal

:~$ sudo apt install guake

/////////////////////////////////

VS Code
https://go.microsoft.com/fwlink/?LinkID=760868


/////////////////////////////////

Spotify

:~$ sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 931FF8E79F0876134EDDBDCCA87FF9DF48BF1C90

:~$ echo deb http://repository.spotify.com stable non-free | sudo tee /etc/apt/sources.list.d/spotify.list

:~$ sudo apt update

:~$ sudo apt install spotify-client

/////////////////////////////////

PHP, SQL, Apache, etc

:~$ sudo apt install apache2

:~$ sudo apt install curl

:~$ sudo apt install mysql-server

:~$ sudo apt install php libapache2-mod-php php-mysql

:~$ sudo apt install phpmyadmin php-mbstring php-gettext

:~$ sudo phpenmod mcrypt

:~$ sudo phpenmod mbstring

/////////////////////////////////

Flameshot PrintScreen

:~$ sudo apt install flameshot

Remove default PrintScreen
Create new custom shortcut and insert the command below

flameshot gui

/////////////////////////////////
