Configuration and Extensions for PHP Dev

/////////////////////////////////////////

Settings Json

{
    "php.validate.enable": true,
    "php.validate.run": "onType",
    "php.suggest.basic": true,
    "php.validate.executablePath": "/usr/bin/php",
    "workbench.iconTheme": "vscode-icons",
    "editor.wordWrap": "on",
    "emmet.triggerExpansionOnTab": true,
    "emmet.includeLanguages": {
        "php": "html"
    },
    "emmet.showExpandedAbbreviation": "always",
    "html-css-class-completion.enableEmmetSupport": true,
    "emmet.syntaxProfiles": {
        "php": "html"
    },
    "editor.renderIndentGuides": false,
    "workbench.colorTheme": "Visual Studio Dark",
    "breadcrumbs.enabled": true,
    "workbench.startupEditor": "newUntitledFile",
    
}

/////////////////////////////////////////

Extensions

Auto Import
Beautify
Bookmarks
Bootstrap 4, Font awesome 4, Font Awesome 5 Free & Pro snippets
Code Runner
Color Picker
Gitlens
Guides
HTML CSS Support
HTML Snippets
Intellisense for CSS class names in HTML
Laravel 5 Snippets
Laravel Artisan
Laravel Blade Snippets
Live Server
Path Intellisense
PHP Debug
PHP Intelephense
PHP IntelliSense
PHP-Autocomplete
Prettier - Code Formatter
Project Manager
vscode-icons
VS Live Share
